<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <% if comment.user.present? %>
      <i><strong><%= comment.user.name %></strong></i>
      <% end %>
      <%= simple_format comment.content %>
    </div>
  <% end %>
</div>
