<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <%= simple_format comment.content %>
      <% if comment.user.present? %>
        <%= comment.user.name %>
      <% end %>
    </div>
  <% end %>
</div>
