<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row"><a id="about"></a>
    <div class="col-lg-4">
      <img class="img-circle" src="https://s3.amazonaws.com/marcelandkim/wedding/abt-him-crop.jpg" alt="About Him" height="140" width="140">
      <h2>About Him</h2>
      <p>
        <!-- Button trigger modal -->
        <button class="btn btn-info" data-toggle="modal" data-target="#hisModal">
          View Details &raquo; 
        </button>
      </p>
  <!-- Modal -->
    <div class="modal fade" id="hisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">About Him</h4>
          </div>
          <div class="modal-body">
            <p>
            It always seems like these things are kind of difficult to write, but here goes.
            </p>
            <p>
            Most of the people that will be reading this should already know about who I am or the type of person I am.  I love to help people, sometimes to a fault.  I feel that sometimes, you just have to let loose and release yourself of your mental inhibitions as to what other people may think.  The best thing you will always be is yourself, so don't try to stifle it.  Computers is where I enjoy making a living and I'm starting to get into web development, with the help of my good friend (and groomsman) Don.  I love movies and my favorite shows on TV right now would probably be Modern Family and The Big Bang Theory.
            </p>
            <p>
            One thing that you should definitely know about me is that I love my roots (shout out to Jamaica and the Bahamas) and I love family.  I would probably say that is the thing I look forward to most about being married, is the ability to start our own family.  All in all, I just hope to be a great husband and an even better father.
            </p>
            <p>
            Thanks to anyone that took the time to read this and I greatly look forward to seeing all of you on May 25th.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://s3.amazonaws.com/marcelandkim/wedding/abt-us.jpg" alt="About Them" height="140" width="140">
      <h2>About Them</h2>
      <p>
        <!-- Button trigger modal -->
        <button class="btn btn-info" data-toggle="modal" data-target="#theirModal">
          View Details &raquo; 
        </button>
      </p>
  <!-- Modal -->
    <div class="modal fade" id="theirModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Our favorite scene from our favorite movie, <a href="http://www.imdb.com/title/tt1078940/?ref_=nv_sr_1">Couples Retreat</a></h4>
          </div>
          <div class="modal-body">
            <div class="span8">
              <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                <iframe allowfullscreen="" src="//www.youtube.com/embed/9FKtMzRwse4" frameborder="0"></iframe>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://s3.amazonaws.com/marcelandkim/wedding/abt-her-crop.jpg" alt="About Her" height="140" width="140">
      <h2>About Her</h2>
      <p>
        <!-- Button trigger modal -->
        <button class="btn btn-info" data-toggle="modal" data-target="#herModal">
          View Details &raquo; 
        </button>
      </p>
  <!-- Modal -->
    <div class="modal fade" id="herModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">About Her</h4>
          </div>
          <div class="modal-body">
            <div class="span8">
              <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                <iframe allowfullscreen="" src="//www.youtube.com/embed/mWG4OqdD--E" frameborder="0"></iframe>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Wedding <span class="text-muted">Registry</span></h2>
      <p class="lead">We are currently registered at <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=10704700&pwsurl=" target="_blank">Bed Bath & Beyond</a>
        and <a href="http://www.amazon.com/gp/registry/wedding/227THRXJTJ7UO/ref=cm_sw_em_r_wrl_cEL.sb1374Q4M_wb" target="_blank" >Amazon.com</a>.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="https://s3.amazonaws.com/marcelandkim/wedding/bbb.png" alt="Bed Bath & Beyond", width="60%" heigh="60%"></br>
      <img class="featurette-image img-responsive" src="https://s3.amazonaws.com/marcelandkim/logos/amazon_wedreg.png" alt="Amazon.com">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%=link_to pins_path do %>
        <%= image_tag Pin.last.image, width:'80%', height: '80%', class: "featurette-image img-responsive" %>
        <!--<img class="featurette-image img-responsive" src="https://s3.amazonaws.com/marcelandkim/wedding/pin-upload.png" alt="User Pins"> -->
      <% end %>
    </div>
    <div class="col-md-7">
            <h2 class="featurette-heading">User Photo <span class="text-muted"> <%= link_to "Upload", new_pin_path %> </span></h2>
      <p class="lead">We love all of our attending and non-attending guests.  So much so, that we want to see your pics.  Pin your own photo to our page so we can view and comment on your awesome pic!!</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Coming Soon: <span class="text-muted">Live Stream</span></h2>
      <!-- <h2 class="featurette-heading"><a href="http://youtu.be/VhKzVTpoPjc" target="_blank">Live Stream!!!</a></h2> -->
      <p class="lead">For those that are unable to attend the wedding ceremony, feel free to stream it live, via Google+&trade; Hangouts OnAir hosted by YouTube&trade;.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="https://s3.amazonaws.com/marcelandkim/wedding/hangout-onair.jpg" alt="Google Hanouts OnAir">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
  
</div><!-- /.container -->