
<!-- Gallery with captions -->
<div class="row">
  <div class="col-lg-12">
    <div class="widget-container fluid-height">
      <div class="heading">
        <span class="glyphicon glyphicon-picture"></span> Flower Girls
      </div>
      <div class="widget-content padded">
        <ul class="gallery-grid clearfix">
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/img0.jpg" />
              <div class="caption">
                <h3>
                  Best Man
                </h3>
                <span>Tino Sands</span>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/img2.jpg" />
              <div class="caption">
                <h3>
                  Farm
                </h3>
                <span>by Cuba Gallery</span>
              </div>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end Gallery with captions -->