<div class="jumbotron">
  <h1>Welcome to our Page</h1>
  <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning btn-lg" %>
  </p>
  
</div>
