

<!-- Gallery with captions -->
<div class="row">
  <div class="col-lg-12">
    <div class="widget-container fluid-height">
      <div class="heading">
        <span class="glyphicon glyphicon-picture"></span> Wedding Party
      </div>
      <div class="widget-content padded">
        <ul class="gallery-grid clearfix">
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/weddingparty/jason/jason.jpg" />
              <div class="caption">
                <h3>
                  Groomsman
                </h3>
                <span>Jason James</span>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/weddingparty/marj/marj_h1.jpg" />
              <div class="caption">
                <h3>
                  Bridesmaid
                </h3>
                <span>Marjorie James</span>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/weddingparty/dave/daveandm.jpg" />
              <div class="caption">
                <h3>
                  Groomsman
                </h3>
                <span>Dave McCalla</span>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/weddingparty/kelly/kelly_h.jpg" />
              <div class="caption">
                <h3>
                  Bridesmaid
                </h3>
                <span>Kelly Francis</span>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/weddingparty/chris/chris_h.jpg" />
              <div class="caption">
                <h3>
                  Groomsman
                </h3>
                <span>Chris Francis</span>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/weddingparty/keisha/keisha_h.jpg" />
              <div class="caption">
                <h3>
                  Bridesmaid
                </h3>
                <span>Keisha Francis</span>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/weddingparty/don/don_h.jpg" />
              <div class="caption">
                <h3>
                  Groomsman
                </h3>
                <span>Don Pottinger</span>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/weddingparty/yentl/yentl.jpg" />
              <div class="caption">
                <h3>
                  Bridesmaid
                </h3>
                <span>Yentl Butler</span>
              </div>
            </figure>
          </li>
          <li>
            <figure>
              <img src="https://s3.amazonaws.com/marcelandkim/weddingparty/mychal/mychal.jpg" />
              <div class="caption">
                <h3>
                  Groomsman
                </h3>
                <span>Mychal Butler</span>
              </div>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end Gallery with captions -->
