
<div class="container">  

  <div class="widget-container fluid-height">
    <div class="heading">
      <i class="fa fa-th-large"></i>Filtering and Actions
      <div class="gallery-filters list-inline btn-group pull-right">
        <a class="btn btn-sm btn-primary-outline selected" data-filter="*" href="#">All</a><a class="btn btn-sm btn-primary-outline" data-filter=".filter1" href="#">Groom</a><a class="btn btn-sm btn-primary-outline" data-filter=".filter2" href="#">Bride</a>
      </div>
    </div>
    <div class="widget-content padded">
      <div style="position: relative; overflow: hidden; height: 850px; width: 440px;" class="gallery-container isotope">
        <a style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px) scale(1); opacity: 1;" class="gallery-item filter1 fancybox isotope-item" href="https://s3.amazonaws.com/marcelandkim/gallery/propose.jpg" rel="gallery1" title="This is a caption">
          <img src="https://s3.amazonaws.com/marcelandkim/gallery/propose.jpg">
          <div class="actions">
            <i class="fa fa-trash-o"></i><i class="fa fa-search-plus"></i><i class="glyphicon glyphicon-pencil"></i>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>