<div class="jumbotron">
  <h1>About us</h1>
  <p>We are getting married on May 25th, 2014 at the Del'avant Center in <a href="http://www.delavanteventcenter.com/map.php">Lagrange, GA</a></p>
  <br>
  <button type="button" class="btn btn-lg btn-success">
    <a href="http://www.delavanteventcenter.com"><span class="glyphicon glyphicon-eye-open"></span></a>
  </button>
</div>