<div class="jumbotron">
  <h1>About us</h1>
  <p>We are getting married on May 25th, 2014 at the Del'avant Center in Lagrange, GA</p>
  <br>
  <button type="button" class="btn btn-lg btn-success">
    <span class="glyphicon glyphicon-eye-open"></span>
  </button>
  <button type="button" class="btn btn-lg btn-success">
    <span class="glyphicon glyphicon-map-marker"></span>
  </button>
</div>