
<div class="container">
  <!-- Profile Widget -->
  <div class="col-md-4">  
    
    <div class="item widget-container fluid-height profile-widget isotope-item">
      <div class="widget-content padded">
        <div class="profile-info clearfix">
          <img class="img-circle pull-left" src="https://s3.amazonaws.com/marcelandkim/wedding/abt-him-crop.jpg" width="70" height="70">
          <div class="profile-details">
            <a class="user-name" href="">Marcel</a>
            <p>
              Groom
            </p>
            <em><span class="glyphicon glyphicon-envelope"></span> <%= link_to "email", "mailto:marcel.sands84@gmail.com" %></em><br>
            <% if user_signed_in? %>
              <em><span class="glyphicon glyphicon-earphone"></span> 404.429.9690 </em>
            <% end %>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <!-- end profile widget -->
  
  <!-- Profile Widget -->
  <div class="col-md-4">  
    
    <div class="item widget-container fluid-height profile-widget isotope-item">
      <div class="widget-content padded">
        <div class="profile-info clearfix">
          <img class="img-circle pull-left" src="https://s3.amazonaws.com/marcelandkim/wedding/abt-her-crop.jpg" width="70" height="70">
          <div class="profile-details">
            <a class="user-name" href="">Kim</a>
            <p>
              Bride
            </p>
            <em><span class="glyphicon glyphicon-envelope"></span> <%= link_to "email", "mailto:kimberlyjames18@gmail.com" %></em><br>
            <% if user_signed_in? %>
              <em><span class="glyphicon glyphicon-earphone"></span> 404.457.8847 </em>
            <% end %>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <!-- end profile widget -->
  
  
  
</div>
