
<div class="container">
  <!-- Profile Widget -->
  <div class="col-md-4">  
    
    <div class="item widget-container fluid-height profile-widget isotope-item">
      <div class="widget-content padded">
        <div class="profile-info clearfix">
          <img class="social-avatar pull-left" src="images/avatar-male.jpg" width="70" height="70">
          <div class="profile-details">
            <a class="user-name" href="">John Smith</a>
            <p>
              Sharp&amp;Nimble Designer
            </p>
            <em><i class="fa fa-map-marker"></i>Washington, D.C.</em>
          </div>
        </div>
        <div class="profile-stats">
          <div class="col-xs-4">
            <a href="#">
              <h2>
                245
              </h2>
            </a>
            <p>
              Posts
            </p>
          </div>
          <div class="col-xs-4">
            <a href="#">
              <h2>
                150
              </h2>
            </a>
            <p>
              Friends
            </p>
          </div>
          <div class="col-xs-4">
            <a href="#">
              <h2>
                12
              </h2>
            </a>
            <p>
              Videos
            </p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <!-- end profile widget -->
  
  <!-- Profile Widget -->
  <div class="col-md-4">  
    
    <div class="item widget-container fluid-height profile-widget isotope-item">
      <div class="widget-content padded">
        <div class="profile-info clearfix">
          <img class="social-avatar pull-left" src="images/avatar-male.jpg" width="70" height="70">
          <div class="profile-details">
            <a class="user-name" href="">John Smith</a>
            <p>
              Sharp&amp;Nimble Designer
            </p>
            <em><i class="fa fa-map-marker"></i>Washington, D.C.</em>
          </div>
        </div>
        <div class="profile-stats">
          <div class="col-xs-4">
            <a href="#">
              <h2>
                245
              </h2>
            </a>
            <p>
              Posts
            </p>
          </div>
          <div class="col-xs-4">
            <a href="#">
              <h2>
                150
              </h2>
            </a>
            <p>
              Friends
            </p>
          </div>
          <div class="col-xs-4">
            <a href="#">
              <h2>
                12
              </h2>
            </a>
            <p>
              Videos
            </p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <!-- end profile widget -->
  
  
  
</div>
