
<div class="jumbotron">
  <div class="container">
    
      <div class="col-lg-6">
          <img src="https://s3.amazonaws.com/marcelandkim/logos/Hampton-Inn-Logo_full.png" alt="About Him" data-toggle="modal" data-target="#hampton" width="350" height="229" >
      </div>
      
        <!-- Modal -->
      <div class="modal fade" id="hampton" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Hampton Inn</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
        
      <div class="col-lg-6">
        <img src="https://s3.amazonaws.com/marcelandkim/logos/holiday_inn_express.png" alt="About Him" data-toggle="modal" data-target="#holiday" width="350" height="173" >
      </div>
      
        <!-- Modal -->
      <div class="modal fade" id="holiday" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Holiday Inn Express & Suites</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    
  </div>
</div>
