<script
			src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
			</script>
		<script>
			var myCenter=new google.maps.LatLng(33.03765,-85.03054);
			var marker;
			function initialize()
			{
			var mapProp = {
			  center:myCenter,
			  zoom:15,
			  mapTypeId:google.maps.MapTypeId.ROADMAP
			  };
			var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
			marker=new google.maps.Marker({
			  position:myCenter,
			 // icon:'themes/assets/images/nepali-momo.png',
			  animation:google.maps.Animation.BOUNCE
			  });

			marker.setMap(map);

			// Info open
			var infowindow = new google.maps.InfoWindow({
			  content:"Del'Avant Event Center - parking garage"
			  });

			google.maps.event.addListener(marker, 'click', function() {
			  infowindow.open(map,marker);
			  });
			}
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
<div id="googleMap" style="height:450px;"></div>
<div class="container">
  <div class="carousel-caption">
    <a class="btn btn-lg btn-success" href="https://maps.google.com/?q=barnard+alley,+lagrange,+ga+30240" target="_blank" role="button" style="font-size:2em">Get Directions &raquo;</a>
  </div>
</div>