<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      
      <div class="panel-title">
        <h2>Submit RSVP</h2>
      </div>
  
      <div class="panel-body">
        <%= render 'form' %>
      </div>

      <div class="panel-footer">
        <h4>Thank you for your early RSVP.  Your invitation should be arriving soon.</h4>
        <h6>Wedding starts @4:00 PM sharp</h6>
      </div>
  
      <div class="panel-footer">
        <%= link_to 'Back', root_path %>
      </div>
      
    </div>
  </div>
</div>
