<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row"><a id="about"></a>
    <div class="col-lg-4">
      <img class="img-circle" src="https://s3.amazonaws.com/marcelandkim/wedding/abt-him-crop.jpg" alt="About Him" height="140" width="140">
      <h2>About Him</h2>
      <p>
        <!-- Button trigger modal -->
        <button class="btn btn-default" data-toggle="modal" data-target="#hisModal">
          View Details &raquo; 
        </button>
      </p>
  <!-- Modal -->
    <div class="modal fade" id="hisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">About Him</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://s3.amazonaws.com/marcelandkim/wedding/abt-us.jpg" alt="About Them" height="140" width="140">
      <h2>About Them</h2>
      <p>
        <!-- Button trigger modal -->
        <button class="btn btn-default" data-toggle="modal" data-target="#theirModal">
          View Details &raquo; 
        </button>
      </p>
  <!-- Modal -->
    <div class="modal fade" id="theirModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">About Them</h4>
          </div>
          <div class="modal-body">
            <div class="span8">
              <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                <iframe allowfullscreen="" src="//www.youtube.com/embed/1NSxuH24Bfg" frameborder="0"></iframe>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://s3.amazonaws.com/marcelandkim/wedding/abt-her-crop.jpg" alt="About Her" height="140" width="140">
      <h2>About Her</h2>
      <p>
        <!-- Button trigger modal -->
        <button class="btn btn-default" data-toggle="modal" data-target="#herModal">
          View Details &raquo; 
        </button>
      </p>
  <!-- Modal -->
    <div class="modal fade" id="herModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">About Her</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">User Photo <span class="text-muted">Upload</span></h2>
      <p class="lead">We love all of our attending and non-attending guests.  So much so, that we want to see your pics.  Pin your own photo to our page so we can view and comment on your awesome pic!!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="https://s3.amazonaws.com/marcelandkim/wedding/pin-upload.png" alt="User Pins">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="https://s3.amazonaws.com/marcelandkim/wedding/bbb.png" alt="Bed Bath & Beyond">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Wedding <span class="text-muted">Registry</span></h2>
      <p class="lead">We are currently registered at <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=10704700&pwsurl=" target="_blank">Bed Bath & Beyond.</a></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Coming Soon: <span class="text-muted">Live Stream</span></h2>
      <p class="lead">For those that are unable to attend the wedding ceremony, feel free to stream it live, via Hangouts OnAir &copy; hosted by Google &copy;.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="https://s3.amazonaws.com/marcelandkim/wedding/hangout-onair.jpg" alt="Google Hanouts OnAir">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
  
  
  <!-- FOOTER -->
  <%= render 'layouts/footer' %>

</div><!-- /.container -->